<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.00">
    <title>"COLEGIO SAN MIGUEL”</title>

    <link rel="canonical" href="static/css/headers.css">
    <link href="static/css/estilos2.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="headers.css" rel="stylesheet">
  </head>
  <body>
<main>

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="static/img/logo.png" alt="Logo" height="60px" width="60px" >
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <h1>COLEGIO SAN MIGUEL</h1>
         
        </ul> 
      </div>
    </div>
  </header>

</main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <div class="text-center">
      <main class="form-signin w-100 m-auto">
            <form action = "{{ url_for('verificacion') }}" method = "post" class= "container">
                  <img class="mb-4" src="static\img\hat.png" alt="" width="72" height="57" >
                  <h1 class="h3 mb-3 fw-normal">Ingreso</h1>
      
                  <div class="form-floating">
                        <input type="email" class="form-control" name = "email" id="floatingInput" placeholder="usuario@dominio.com">
                        <label for = "email"></label><br>
                  </div>
                  
                  <div class="form-floating">
                        <input type="password" class="form-control" name = "password" id="floatingPassword" placeholder="Contraseña">
                        <label for="floatingPassword"></label>
                  </div>

                  <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            </form>
      </main>
    </div>   
  </body>
</html>